<div class="col-xs-12">
    <ngb-carousel>  
        <ng-template ngbSlide>  
            <img class="img1" src="../assets/train2.jpg" >  
            
        </ng-template>  

        <ng-template ngbSlide>  
            <img class="img1" src="../assets/img4.jpg" >  
            
        </ng-template>  
        <ng-template ngbSlide>  
            <img class="img1" src="../assets/img2.jpg" >  
            
        </ng-template>  
        <ng-template ngbSlide>  
            <img class="img1" src="../assets/train3.jpg" >  
            
        </ng-template>  
        <ng-template ngbSlide>  
            <img class="img1" src="../assets/train1.jpg" >  
            
        </ng-template>  
        
      </ngb-carousel>  
</div>
  
