
<mat-toolbar color="primary"  class="mat-elevation-z2 ">
    <span><mat-icon>train</mat-icon>ERail</span>

    <div class="spacer"></div>
    <a class="space" mat-raised-button (click)="a=1"routerLink="Home" >Home</a>
    <a class="space" mat-raised-button (click)="a=1" routerLink="StationAutocomplete">Station Autocomplete</a>
    <a class="space" mat-raised-button (click)="a=1" routerLink="LiveTrainStatus">Live Train Status</a>
    <a class="space" mat-raised-button (click)="a=1" routerLink="AutoCompleteTrainInfo">Train Info </a>
    <a class="space" mat-raised-button (click)="a=1" routerLink="StationLocation">Station Location </a>
    <a class="space" mat-raised-button (click)="a=1" routerLink="CoachPosition">Coach Position</a>
    
</mat-toolbar>
<div *ngIf="a==0">
<app-carousel></app-carousel>
</div>
