
<mat-card>

    <form class="example-form form-group" #valueForm="ngForm" (submit)="getValues(valueForm)">
        <mat-form-field class="example-full-width">
          <mat-label>Station Code </mat-label>
          <input required matInput placeholder="Station code/name" ngModel name="stationCode" #stationCode="ngModel"></mat-form-field>
          
          <br>
          
  <button mat-raised-button color="accent" >
      Find
  </button>

  </form>

  <table class="table table-bordered table-hover mat-elevation-z8 t1 " *ngIf="a==1">
    <thead>
      <tr>
        <th scope="col">Station Name</th>
        <th scope="col">Station Code</th>
        <th scope="col">URL</th>
        
        
      </tr>
    </thead>
    <tbody  >
     <tr >
      <td>{{stationAuto.StationName}} </td>
      <td id="pw" >{{stationAuto.StationCode}}</td>
      <td>
          <a href="{{stationAuto.URL}}">{{stationAuto.URL}}</a>
         
          </td>
      
      
       
      </tr>
        
    </tbody>
    
  </table>
  
  <div  *ngIf="er==1" >
 <p>No such Station Code </p>
  </div>
   
</mat-card>
