example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
p{
  padding-top:20px;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
  .t1{

    width:70%;
    margin:20px auto;
  }
 
  #pw{
    text-transform: uppercase;
  }
  th{
    font-size: 20px;
  }
  td{
    font-size:16px;
  }
  th,td{

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border:5px double lightpink;
    color: rgb(241, 44, 77);
    
  }

 #hover:hover{
  background-color: rgb(252, 220, 225);
    
 }
 table{
  border:solid 7px;
  border-color: rgb(241, 44, 77) lightpink lightpink  rgb(241, 44, 77);
  
}